/* ------------ --GENERAL-- ------------ */
i:hover {text-decoration: underline;}


/* ------------ --PROJECT-- ------------ */
section {padding-top: 12rem; max-width: 1320px;}
img {width: 100%; border-radius: 2px;}

.title {display: flex; flex-direction: column; align-items: center; text-align: center;}
.button-group {margin-top: 1rem;}
.button {display: inline-block; margin: 0 1rem; transition: all 400ms ease-out;}
.button:hover, .button.is-checked {margin: 0 2rem; color: var(--clTitle); font-weight: 800;}

.grid {width: 100%; padding: 12rem 0;}
.grid:after {content: ''; display: block; clear: both;} /* Clear fix */
.grid-item {margin-bottom: 1rem;}

.grid-item, .grid-sizer {width: calc((100% - 6rem) / 4);} /* Độ rộng cột */
.gutter-sizer {width: 2rem;} /* Khoảng cách ngang giữa các đối tượng */
.grid-item {
  margin-bottom: 2rem;
  border: 1px solid var(--clWatermark);
  border-radius: 4px;
  box-shadow: 0px 0px 0px var(--clBackground);
  background-color: var(--clBackground);
  transition: margin-top 600ms ease, box-shadow 400ms ease;
}
.grid-item:hover {margin-top: -0.5rem; box-shadow: 0px 12px 20px var(--clShadow);}

.carousel {border-radius: 4px;}
.carousel-cell {margin-right: 1rem; overflow-y: hidden;}

.flickity-page-dots {
  bottom: 1rem;
  right: 0;
  display: flex;
  align-items: center;
  width: 6rem;
  height: 12px;
  border-radius: 6px 0 0 6px;
  background-color: var(--clBackground);
}
.flickity-page-dots .dot {
  margin: 0 4px;
  width: 6px;
  height: 6px;
  background-color: var(--clTitle);
}

.flickity-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 4px;
  background: var(--clBackground);
  color: var(--clTitle);
}
.flickity-button:focus {
  outline: none;
  box-shadow: none;
}
.flickity-button-close {display: none;}
.flickity-button .flickity-button-icon {
  position: absolute;
  left: 4px;
  top: 4px;
  width: 16px;
  height: 16px;
}

.itemContent {margin: 1rem 1rem 1rem 1.5rem;}
.itemSubTitle {margin: 0.5rem 0; font-size: 1.2rem;}
.itemFunction i {color: var(--clTitle);}


/* reveal grid after images loaded */
.grid.are-images-unloaded {opacity: 0;}
/* hide by default */
.grid.are-images-unloaded .image-grid__item {opacity: 0;}


.page-load-status {
  display: none; /* hidden by default */
  padding: 2rem 0;
  border-top: 1px solid var(--clHideState);
  text-align: center;
}


.modalPopup.active {display: block;}
.modalPopup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--clPopup);
  z-index: 100;
}

.modalPopup .grid-item:hover {margin-top: 0; box-shadow: none;}
.modalPopup .carousel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
}
.modalPopup .carousel-cell {margin-right: 2rem;}
.modalPopup .itemContent {display: none;}
.modalPopup .flickity-button-open {display: none;}
.modalPopup .flickity-button-close {
  top: calc(50% - 22rem);
  left: calc(50% + 30vw - 2rem);
  transform: translate(-50%, -50%);
  display: block;
}


/* ------------ ------------ ------------ ------------ */
/* ------------ --RESPONSIVE-- ------------ */
@media (max-width: 1600px) {
  section {padding-top: 6rem;}
  
  .button:hover, .button.is-checked {margin: 0 1rem;}

  .grid {padding: 6rem 0;}
}

@media (max-width: 992px) {
  .grid-item, .grid-sizer {width: calc((100% - 2rem) / 2);}
  .gutter-sizer {width: 2rem;}

  .grid-item {transition: border 200ms ease, box-shadow 400ms ease;}
  .grid-item:hover {margin-top: 0rem; border: 1px solid var(--clHideState);}

  .modalPopup .carousel {width: calc(100vw - 24rem);}
  .modalPopup .flickity-button-close {left: calc(100vw - 12rem - 2rem);}
}

@media (max-width: 579px) {
  section {padding-top: 6rem; width: calc(100vw - 4rem);}

  .grid {padding: 4rem 0;}
  .grid-item {margin-bottom: 1.5rem;}
  .grid-item .title {padding: 0.2rem;}

  .grid-item, .grid-sizer {width: 100%;}
  .gutter-sizer {width: 0rem;}

  .page-load-status {padding: 1rem 0;}

  .modalPopup .carousel {width: calc(100vw - 4rem); height: 48rem;}
  .modalPopup .carousel img {width: unset; height: 100%;}
  .modalPopup .flickity-button-close {left: calc(100vw - 2rem - 2rem);}
}