/* ROOT ------------ ------------ */
/* ROOT ------------ ------------ */
:root {
    --clBlack: #323232;
    --clGrey:  #949494;
    --clGray:  #F0F0F0;
    --clWhite: #FAFAFA;
    }


/* FONT ------------ ------------ */
/* FONT ------------ ------------ */
@font-face {font-family: Helvetica; font-display: swap; src: url(../font/Helvetica.ttf);}


/* GENERAL ------------ ------------ */
/* GENERAL ------------ ------------ */
* {box-sizing: border-box; margin: 0; padding: 0; border: 0;}
html {scroll-behavior: smooth; font-size: 62.5%;}
img {display: block; width: 100%;}
h1, h2, h3, h4 {font-weight: unset;}
a, a:hover, a:focus, a:visited {color: inherit; text-decoration: none;}
button {font-size: inherit; background-color: transparent;}


/* SCROLLBAR ------------ ------------ */
/* SCROLLBAR ------------ ------------ */
body::-webkit-scrollbar {display: none;}
body {-ms-overflow-style: none; scrollbar-width: none;}


/* SELECTION ------------ ------------ */
/* SELECTION ------------ ------------ */
::selection {background: var(--clBlack); color: var(--clWhite);}


/* TYPOGRAPHY ------------ ------------ */
/* TYPOGRAPHY ------------ ------------ */
body {font-family: 'Helvetica', sans-serif; font-weight: 400; color: var(--clBlack);}
h1 {font-size: 12vw; line-height: 10vw; text-transform: uppercase;}
h2 {font-size: 4.2rem;}
h3 {font-size: 2.0rem; color: var(--clGrey);}
h4 {font-size: 2.0rem; line-height: 4rem; color: var(--clBlack);}
p  {font-size: 2.0rem; line-height: 4rem; color: var(--clGrey);}


/* CLASS ------------ ------------ */
/* CLASS ------------ ------------ */
.flexRow {display: flex; flex-direction: row; align-items: center;}
.flexRow .decor {
    height: 1px;
    background-color: var(--clGrey);
    transition: width 200ms linear, background-color 100ms linear;
    }


/* Logo & Menu ------------ ------------ */
.logo, .menu {position: fixed; left: 0; z-index: 100;}
.logo {top: 40px; padding-left: 60px;}
.menu {top: 120px; margin-top: 60px;}

.menuItem h4 {transition: color 200ms linear;}
.menuItem .decor {margin-right: 20px; width: 40px;}

.menuItem:hover h4, .menuItem.active h4 {font-style: italic;}
.menuItem:hover .decor, .menuItem.active .decor {width: 60px;}

.menuItem.hide h4 {color: var(--clGray);}
.menuItem.hide .decor {background-color: var(--clGray);}


/* Container ------------ ------------ */
.container {
    position: relative;
    padding-left: calc((100vw - 7px) / 6 + 2px);
    padding-right: 60px;
    width: 100vw;
    z-index: 20;
    }


/* Section ------------ ------------ */
section, .header {margin-bottom: 60px;}
.header .title {padding-right: 20px; width: 20%;}
.header .decor {width: 80%;}
.wrapper {overflow: hidden;}
.mb60  {margin-bottom: 60px;}
.mb30  {margin-bottom: 30px;}
.mb20  {margin-bottom: 20px;}
.pt40  {padding-top: 40px;}


/* Section 1 ------------ ------------ */
.section1 {
    padding: 0 60px 60px 0;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    }


/* Section 2 ------------ ------------ */
.rowContent {width: 100%; display: flex; flex-direction: row;}
.rowContent h4 {width: 8vw;}
.rowContent p {width: calc(100% - 8vw);}
.col1st {width: calc((100vw - 7px) / 6 * 3 + 4px); padding-right: 60px;}
.col2nd {width: calc(100% - ((100vw - 7px) / 6 * 3 + 4px));}


/* Section 3 ------------ ------------ */
.grid2x3 {display: grid; grid-template-columns: auto auto auto; grid-gap: 20px;}
.grid2x3 .gridItem {margin-bottom: 60px;}
.gridItem .wrapper {margin-bottom: 20px;}


/* Background ------------ ------------ */
.background {
    position: fixed;
    top: 0; left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    }
.background .decor {
    width: 1px;
    height: 100vh;
    background-color: var(--clGray);
    }





/* ------------ ------------ ------------ ------------ */
/* ------------ ------------ ------------ ------------ */
/* ------------ --------RESPONSIVE------- ------------ */

@media (max-width: 1600px) {
    .logo {top: 40px; padding-left: 30px;}
    .logo .decor, .menu .decor {margin-right: 10px; width: 20px;}
    .menuItem:hover .decor, .menuItem.active .decor {width: 40px;}
    }