/* ------------ --ROOT-- ------------ */
:root {
  --changeColorTime: 600ms;
  --changeBgColorTime: 400ms;
  --clContent: #919191;
  --clShadow: #9191911f;
}

/* ------------ --FONTS-- ------------ */
@font-face {
  font-family: Philosopher;
  font-display: swap;
  src: url(../font/philosopher/Philosopher-Regular.ttf);
}
@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url(../font/mulish/Mulish-Light.ttf);
}

/* ------------ --COLOR STYLES-- ------------ */
[data-theme='light'] {
  --clBackground: #FFFFFF;
  --clWatermark: #FAFAFA;
  --clTitle: #242424;
  --clHideState: #D8D8D8;
  --clModal: #24242433;
}

[data-theme='dark'] {
  --clBackground: #242424;
  --clWatermark: #292929;
  --clTitle: #FFFFFF;
  --clHideState: #4A4A4A;
  --clModal: #24242499;
}

/* ------------ --GENERAL-- ------------ */
* {box-sizing: border-box; margin: 0; padding: 0; border: 0;}
html {scroll-behavior: smooth; font-size: 62.5%;}
img {display: block;}
a, a:hover, a:focus, a:visited {color: inherit; text-decoration: none;}
button {font-size: inherit; background-color: transparent;}
html,a,a:hover,button {cursor: default;}
/* h1,h2,h3,h4,span,p {transition: color var(--changeColorTime) ease-in-out;} */

/* ------------ --SCROLLBAR-- ------------ */
body::-webkit-scrollbar {display: none;}
body {-ms-overflow-style: none; scrollbar-width: none;}

/* ------------ --SELECTION-- ------------ */
::selection {background: var(--clTitle); color: var(--clBackground); text-shadow: none;}

/* ------------ --TYPOGRAPHY-- ------------ */
h1,h2,h3,h4 {
  font-family: 'Philosopher', sans-serif;
  font-weight: 400;
  color: var(--clTitle);
}
h1 {font-size: 20rem;}
h2 {font-size: 6.4rem;}
h3 {font-size: 3.2rem;}
h4 {font-size: 2.0rem;}
body, button, p, a {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--clContent);
}
/* ------------ --CUSOR-- ------------ */
.cursor {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  pointer-events: none;
  z-index: 100;
}
.cursor.cursor-dot {
  height: 1rem;
  width:  1rem;
  transition: width 500ms, height 500ms;
  background-color: var(--clTitle);
}
.cursor.cursor-follower {
  height: 2.4rem;
  width:  2.4rem;
  transition: top 250ms, left 250ms, width 400ms, height 400ms, opacity 400ms;
  transition-timing-function: ease-out;
  background-color: var(--clTitle);
  mix-blend-mode: difference;
}
.cursor-dot.focus {width: 0; height: 0;}
.cursor-follower.focus {width: 10rem; height: 10rem; opacity: 0;}

/* ------------ --CLASS-- ------------ */
.textVertical {writing-mode: vertical-rl;}

/* ------------ --DECOR-- ------------ */
.decorDot {display: grid; grid-gap: 2.4rem;}
.dot, .round {border-radius: 100%;}
.dot {
  background-color: var(--clContent);
  -webkit-transition: background-color var(--changeColorTime) ease-out;
  -moz-transition: background-color var(--changeColorTime) ease-out;
  -o-transition: background-color var(--changeColorTime) ease-out;
  transition: background-color var(--changeColorTime) ease-out;
}
.round {border: solid 1px var(--clContent);}
.decorBg {
  position: fixed;
  top: 50%;
  left: 95%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: var(--clBackground);
  border-radius: 100%;
  transition: all 400ms linear;
  z-index: -1;
}

/* ------------ --WATERMARK-- ------------ */
.watermark {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
}

.watermark h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--clWatermark);
}

/* ------------ --HOME-- ------------ */
.container, section {height: 100vh;}
section {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100vw - 360px);
  z-index: 2;
}
.container, .navbar {position: fixed; margin: auto; width: 100vw;}
.container {z-index: 1;}

/* ------------ --HEADER & FOOTER-- ------------ */
.menuFixed {position: absolute; margin: 4rem; z-index: 10;}
#menuTopRight, #menuBottomRight {right: 0;}
#menuBottomRight, #menuBottomLeft {bottom: 0;}

.menuFixed h4 {padding: 0.5rem; transition: color 200ms ease-out}
.menuFixed:hover h4 {
  padding: 0.5rem 1rem;
  color: var(--clBackground);
  background-color: var(--clTitle);
}

.menuFixed .decorBullet {
  position: absolute;
  width: 0.4rem;
  height: 100%;
  opacity: 0;
  background-color: var(--clTitle);
  transition: all 200ms ease-out;
}
#menuTopLeft .decorBullet, #menuBottomLeft .decorBullet {left: 0;}
#menuTopRight .decorBullet,#menuBottomRight .decorBullet {right: 0;}
.menuFixed:hover .decorBullet {opacity: 1;}
#menuTopLeft:hover .decorBullet, #menuBottomLeft:hover .decorBullet {left: -1rem;}
#menuTopRight:hover .decorBullet, #menuBottomRight:hover .decorBullet {right: -1rem;}

#menuTopLeft {animation: toTopLeft 1200ms ease-out;}
@keyframes toTopLeft {
  from {opacity: 0; top: 2rem; left: 4rem;}
  to   {opacity: 1; top: 0;    left: 0;}
}
#menuBottomLeft {animation: toBottomLeft 1200ms ease-out;}
@keyframes toBottomLeft {
  from {opacity: 0; bottom: 2rem; left: 4rem;}
  to   {opacity: 1; bottom: 0;    left: 0;}
}
#menuTopRight {animation: toTopRight 1200ms ease-out;}
@keyframes toTopRight {
  from {opacity: 0; top: 2rem; right: 4rem;}
  to   {opacity: 1; top: 0;    right: 0;}
}
#menuBottomRight {animation: toBottomRight 1200ms ease-out;}
@keyframes toBottomRight {
  from {opacity: 0; right: 4rem; bottom: 2rem;}
  to   {opacity: 1; right: 0;    bottom: 0;}
}

/* ------------ --SIDEMENU-- ------ */
.sideMenu {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-flow: row nowrap;
}
.sideMenu a {padding: 1rem 0; transition: all 400ms ease-out;}
.sideMenu a:hover {padding: 2rem 0; color: var(--clTitle); font-weight: 800;}

#sideMenuL a {transform: rotate(180deg);}
#sideMenuL{left: 4rem; animation: swipeRight 1200ms ease-out 0ms;}
@keyframes swipeRight {
  from {opacity: 0; left: 0;}
  to   {opacity: 1; left: 4rem;}
}

#sideMenuR {right: 4rem; animation: swipeLeft 1200ms ease-out 0ms;}
@keyframes swipeLeft {
  from {opacity: 0; right: 0;}
  to   {opacity: 1; right: 4rem;}
}

/* ------------ --NAVBAR (Responsive)-- ------------ */
.navbar {
  visibility: hidden;
  z-index: 50;
  -webkit-transition: background-color var(--changeBgColorTime) ease-out;
  -moz-transition: background-color var(--changeBgColorTime) ease-out;
  -o-transition: background-color var(--changeBgColorTime) ease-out;
  transition: background-color var(--changeBgColorTime) ease-out;
}

.nav {
  padding: 0 2rem;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clBackground);
  transition: all 600ms linear;
  z-index: 2;
}
.burgerMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-pack: justify;
  width: 24px;
  height: 18px;
  transition: all 400ms ease-out;
}

.burger1stlayer, .burger2ndlayer, .burger3rdlayer {
  margin-left: auto;
  height: 1.5px;
  background-color: var(--clTitle);
  transition: all 240ms ease-out;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotate3d(0, 0, 0, 0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
.burger1stlayer {width: 100%; transform-origin: 0% 50%;}
.burger2ndlayer {width: 40%; transform-origin: 100% 50%;}
.burger3rdlayer {width: 80%; transform-origin: 0% 50%;}

.burgerMenu.toggle .burger1stlayer {transform: translate3d(10px, 0px, 0px) scale3d(1, 1, 1) rotate3d(0, 0, 1, 45deg)  skew(0deg, 0deg);}
.burgerMenu.toggle .burger2ndlayer {transform: translate3d(10px, 0px, 0px) scale3d(0, 1, 1) rotate3d(0, 0, 0, 0deg)   skew(0deg, 0deg);}
.burgerMenu.toggle .burger3rdlayer {transform: translate3d(10px, 0px, 0px) scale3d(1, 1, 1) rotate3d(0, 0, 1, -45deg) skew(0deg, 0deg);}
.burgerMenu.toggle .burger1stlayer, .burgerMenu.toggle .burger2ndlayer, .burgerMenu.toggle .burger3rdlayer {
  width: 100%;
  transform-style: preserve-3d;
}

/* ------------ --MODAL-- ------------ */
.modal{
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100vw;
  height: 0;
  opacity: 0.6;
  transition: all 600ms linear;
  z-index: -1;
} 
.modal.toggle {
  top: 0;
  height: 100vh;
  opacity: 1;
  background-color: var(--clBackground);
}
.burgerFill {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.burgerFill a {display: block; margin: 2rem 0;}
.modal hr {
  margin: 0 auto;
  width: 40vw; height: 1px;
  background-color: var(--clHideState);
  transition: all 600ms linear;
}


/* ------------ ------------ ------------ ------------ */
/* ------------ --RESPONSIVE-- ------------ */
@media (max-width: 1200px) {section {max-width: 840px;}}

@media (max-width: 992px) {section {width: calc(100vw - 240px); max-width: 750px;}
  /* --CUSOR-- */
  .cursor {display: none;}

  /* --HEADER & FOOTER-- */
  #menuTopLeft, #menuTopRight, #menuBottomRight, #menuBottomLeft {display: none;}
  #sideMenuL, #sideMenuR {display: none;}
  
  /* --NAVBAR (Responsive)-- */
  .navbar {visibility: visible;}
}

@media (max-width: 768px) {section {max-width: 528px;}}

@media (max-width: 579px) {section {width: calc(100vw - 100px);}

  /* --GENERAL-- */
  h1 {font-size: 15rem;}
  h2 {font-size: 4rem;}
  h3 {font-size: 2.4rem;}
  h4 {font-size: 2rem;}

  /* --HEADER & FOOTER-- */
  .menuFixed {margin: 1.2rem;}
}